$primary-color: #f6ecea;
$secondary-color: #ba8559;
$primary-accent: #d6b2a8;

/* ALL */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

header {

    nav {
        background-color: $primary-color;
        color: $secondary-color;

        ul {
            li {
                padding: 1em 3em;
            }
        }
    }

    .open-btn {
        color: $primary-accent;
    }

    .navbar-toggler {
        border: solid 3px $secondary-color;
        background-color: $primary-color;
    }

    .logo {
        height: 200px;
        width: 200px;
    }
}

/* MAIN */
main {
    height: 50em;
}